/* Base styles */

    html, body {
        margin: 0;
        background: #274775;
    }

    /* Navigation menu styles */
    
        .nav-menu {
            background: #4B9FE2;
            height: 100%;
            width: 100%;
        }

        .nav-menu li {
            display: inline;
            list-style-type: none;
        }

        .nav-menu a {
            text-decoration: underline;
            font-size: 22px;
            font-family: "Helvetica";
            padding-left: 15px;
            color: white;
        }

        .nav-menu a:visited {
            text-decoration: none;
        }

        .nav-menu a:hover {
            color: gray;
        }

    /* Header styles */

        .title-header {
            background: #86B1D2;
            height: 100%;
            width: 100%;
        }

        .title-header h1 {
            font-family: "Helvetica";
            color: white;
            padding-left: 55px;
        }

        .title-header h3 {
            font-family: "Helvetica";
            color: white;
            padding-left: 55px;
        }

    /* Intro paragraph styles */

        .intro-paragraph {
            background: #525050;
            width: 100%;
            height: 100%;
        }

        .intro-paragraph p {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: white;
            padding-left: 55px;
            padding-right: 50px;
        }

    /* Left content column styles */

        .left-info {
            background: #E7E6E6;
        }

        .left-info h3 {
            font-size: 22px;
            font-family: "Helvetica";
            color: black;
            padding-left: 55px;
        }

        .left-info ul {
            list-style-type: none;
            padding-left: 55px;
        }

        .personal-info li {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            padding-top: 15px;
        }

        /* Left content progress bars */

            .progress-bars {
                font-family: 'Open Sans', sans-serif;
            }

            .progress-bars li {
                padding-top: 10px;
            }

            .progress-bars span {
                padding-left: 20px;
                color: white;
            }

            .html-meter {
                height: 20px;
                width: 200px;
                position: relative;
                background: #487CC8;
            }

            .css-meter {
                height: 20px;
                width: 200px;
                position: relative;
                background: #487CC8;
            }

            .js-meter {
                height: 20px;
                width: 120px;
                position: relative;
                background: #487CC8;
            }

            .jq-meter {
                height: 20px;
                width: 120px;
                position: relative;
                background: #487CC8;
            }

            .csharp-meter {
                height: 20px;
                width: 90px;
                position: relative;
                background: #487CC8;
            }

    /* Right column style */

    .right-info {
        background: whitesmoke;
        font-family: 'Open Sans', sans-serif;
    }

    .right-info h3 {
        padding-left: 150px;
    }

    .right-info li {
        padding-left: 110px;
        padding-top: 10px;
        padding-bottom: 10px;
        list-style-type: none;
    }

/* Objects */

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
        grid-template-rows: auto;
        
    }

    .nav-menu {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .title-header {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .intro-paragraph {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .left-info {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .right-info {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .contact {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .footer-end {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
/* Components */
/* State */
/* Themes */